@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.Models.NineStarKiModel

@using (Html.PaidContent(Model, () => Model.ReadingType == EReadingType.Complete))
{
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("_SelectedDateAndPeriodTitle")
        </div>
    </div>

    <div class="mobile-only">
        <div class="row">
            @foreach (var biorhythm in Model.BiorhythmResultSet.NineStarKiBioRhythms.GetResultsWithoutAverage())
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-sm-4 margin-bottom-0 padding-left-0 padding-right-0 text-center">
                    @Html.Partial("_HighGauge", new GaugeOptions
                    {
                        MaxValue = 100,
                        Value = (int) biorhythm.Value,
                        Title = biorhythm.BioRhythm.Name,
                        BackgroundColor = $"rgb({biorhythm.BioRhythm.Color}, 0.33)",
                        StrokeColor = $"rgb({biorhythm.BioRhythm.Color})",
                        Units = $"{biorhythm.GetBiorhythmTrendHtmlString()}",
                    })
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 col-md-3 col-sm-4 margin-bottom-0 padding-left-0 padding-right-0 text-center">
                @{
                    var average = Model.BiorhythmResultSet.NineStarKiBioRhythms.GetAverageResult();
                }
                @Html.Partial("_HighGauge", new GaugeOptions
                {
                    MaxValue = 100,
                    Value = (int) average.Value,
                    Title = average.BioRhythm.Name,
                    BackgroundColor = $"rgb({average.BioRhythm.Color}, 0.33)",
                    StrokeColor = $"rgb({average.BioRhythm.Color})",
                    Units = $"{average.GetBiorhythmTrendHtmlString()}",
                })
            </div>
        </div>
    </div>

    <div class="desktop-only">
        <div class="row">

            @foreach (var biorhythm in Model.BiorhythmResultSet.NineStarKiBioRhythms.GetBiorhythmResultsByDisplayIndex())
            {
                <div class="col-md-3 col-sm-4 margin-bottom-0 padding-left-0 padding-right-0 text-center">
                    @Html.Partial("_HighGauge", new GaugeOptions
                    {
                        MaxValue = 100,
                        Value = (int) biorhythm.Value,
                        Title = biorhythm.BioRhythm.Name,
                        BackgroundColor = $"rgb({biorhythm.BioRhythm.Color}, 0.33)",
                        StrokeColor = $"rgb({biorhythm.BioRhythm.Color})",
                        Units = $"{biorhythm.GetBiorhythmTrendHtmlString()}",
                    })
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 margin-bottom-0 padding-left-0 padding-right-0">
            @Html.Partial("Biorhythms/_BioRhythms", Model.BiorhythmResultSet.NineStarKiBioRhythms)
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 margin-bottom-0 padding-left-0 padding-right-0">
            @Html.Panel(Dictionary.SummaryLabel, Model.BiorhythmResultSet.NineStarKiBioRhythms.Summary)
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12 margin-top-20 margin-bottom-0 padding-left-0 padding-right-0">
        <article>
            @Html.CollapsiblePanel(Dictionary.WhatAreBiorhythms, Dictionary.biorhythms)
        </article>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-top-20 margin-bottom-0 padding-left-0 padding-right-0">
        @Html.BootstrapActionLinkButton(Dictionary.FindOutHowCompatibleYouAre, "Compatibility", "NineStarKi", null, "fa fa-yin-yang", EButtonClass.Large)

        @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, "fa-graduation-cap", EButtonClass.Info, EButtonClass.Large)

        @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
    </div>
</div>
