@using K9.Base.WebApplication.Helpers
@model K9.WebApplication.ViewModels.MyAccountViewModel

@Html.PopupAlert()

@using (Html.BeginForm("UpdateAccount", "Account"))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.User.Id)
        @Html.HiddenFor(model => model.User.Username)
        @Html.HiddenFor(model => model.User.Name)
        @Html.HiddenFor(model => model.User.EmailAddress)
        @Html.HiddenFor(model => model.User.BirthDate)
        @Html.Hidden("User.Password", "th1515n0tmypa55w0rd")

        <div>
            <div class="col-sm-12">
                @Html.BootstrapDisplayFor(model => model.Membership.AccountNumber)
                <hr />
            </div>
        </div>
        <div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.User.FirstName)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.User.LastName)</div>
        </div>
        <div>
            <div class="col-sm-6">@Html.BootstrapDisplayFor(model => model.User.BirthDate)</div>
            <div class="col-sm-6">@Html.BootstrapEditorFor(model => model.User.Gender)</div>
        </div>
        <div>
            <div class="col-sm-12">@Html.BootstrapEditorFor(model => model.User.PhoneNumber)</div>
        </div>
        <div>
            <div class="col-sm-12">@Html.BootstrapEditorFor(model => model.AllowMarketingEmails)</div>
        </div>

        <div>
            <div class="col-sm-12">
                <hr />
                @Html.BootstrapEditorFor(model => model.PromoCode)
                <hr />
            </div>
        </div>

        @Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Update, EButtonType.Submit, "fa-save", EButtonClass.Large)
        <span class="margin-right-2"></span>
        @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.DeleteMyAccount, "ConfirmDeleteAccount", "Account", new { id = Model.User.Id }, "fa-trash-alt", EButtonClass.Danger, EButtonClass.Large)
        <hr />

        if (!Model.User.IsOAuth)
        {
            @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.ChangePassword, "UpdatePassword", "Account", null, "", EButtonClass.Large)
        }

        <span></span>

        @Html.BootstrapActionLinkButton(Dictionary.MyPersonalProfile, "MyProfile", "PersonalChart", null, "fa fa-yin-yang", EButtonClass.Large)
    }
}