@using K9.Base.WebApplication.Helpers
@model K9.WebApplication.Models.AccountActivationModel

@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.Registration;
    Layout = "../Shared/_LayoutForm.cshtml";
    ViewBag.TitleTag = "text-center";

    string additionalError = TempData["AdditionalError"]?.ToString();
}

<div class="margin-bottom-10">
    @if (Model.IsCodeResent)
    {
        @Html.Success(Dictionary.WeveResentCodeToEmail)
    }
    else if (Model.IsAccountAlreadyActivated)
    {
        @Html.Success(K9.Base.Globalisation.Dictionary.AccountAlreadyActivated)

        <div class="text-center margin-top-20">
            @Html.BootstrapActionLinkButton(K9.Base.Globalisation.Dictionary.LogIntoYourAccount,
                "Login", "Account", null, "", EButtonClass.Large)
        </div>
    }
    else
    {
        @Html.Success(K9.Base.Globalisation.Dictionary.AccountCreatedSuccessfully, Dictionary.WeveSentCodeToEmail)

        if (!string.IsNullOrEmpty(additionalError))
        {
            <hr />
            @Html.Alert(EAlertType.Warning, additionalError)
        }
    }
    
    @Html.Partial("_AccountVerification")
</div>

