@using Dictionary = K9.Base.Globalisation.Dictionary
@model K9.WebApplication.ViewModels.RegisterViewModel

@{
    ViewBag.Title = Dictionary.UpdateYourDetails;
    ViewBag.SubTitle = Dictionary.UpdateYourDetails;
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm())
{
    using (Html.BeginBootstrapForm())
    {
        @Html.HiddenFor(model => model.RegisterModel.UserName)
        <div class="row">
            <div class="col-sm-6">
                @Html.BootstrapEditorFor(model => model.RegisterModel.FirstName)
            </div>
            <div class="col-sm-6">
                @Html.BootstrapEditorFor(model => model.RegisterModel.LastName)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.BootstrapEditorFor(model => model.RegisterModel.EmailAddress)
            </div>
            <div class="col-sm-6">
                @Html.BootstrapEditorFor(model => model.RegisterModel.PhoneNumber)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                @Html.BootstrapEditorFor(model => model.RegisterModel.Gender)
            </div>
            <div class="col-sm-6">
                @Html.BootstrapEditorFor(model => model.RegisterModel.BirthDate)
            </div>
        </div>
        <hr />
        @Html.BootstrapEditorFor(model => model.PromoCode)

        @Html.BootstrapButton(Dictionary.Submit, EButtonType.Submit, "", EButtonClass.Large)
        @Html.BootstrapActionLinkButton(K9.Globalisation.Dictionary.Skip, "ProcessSavedResults", "Account", null, "fa-angle-right", EButtonClass.Large)
    }
}

