@using K9.WebApplication.Config
@using K9.WebApplication.Helpers
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var background = ViewBag.Background == ViewBagHelper.EViewBackground.Jarallax ? "background-stars jarallax" : "";
}

@if (ViewBag.Background == ViewBagHelper.EViewBackground.Fixed)
{
    <div class="background-stars background-fixed">
        &nbsp;
    </div>
}
else
{
    <div class="background-video">
        <video autoplay muted loop playsinline preload="none" poster="@DefaultValuesConfiguration.Instance.BaseImagesPath/background/stars.jpg">
            <source src="@DefaultValuesConfiguration.Instance.BaseVideosPath/Shared/stars-bg.webm" type="video/webm">
            <source src="@DefaultValuesConfiguration.Instance.BaseVideosPath/Shared/stars-bg.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
}

<div class="@background">
    @Html.Partial("_Navbar")
    <div class="mainContent">
        <div class="container-fluid">
            <div class="page shadow alphaBackground roundCorners wide-form">
                @if (!string.IsNullOrEmpty(ViewBag.SubTitle))
                {
                    <div class="page-header @ViewBag.TitleTag">
                        <h1><strong>@Html.Raw(ViewBag.SubTitle)</strong></h1>
                    </div>
                }
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section headerscripts {
    @RenderSection("headerscripts", false)
}

@section scripts {
    @RenderSection("scripts", false)
}