@model K9.WebApplication.Options.PaymentsOptions

<script src="https://js.stripe.com/v3/"></script>

@using (Html.BeginBootstrapForm())
{
    <div class="sr-root">
        <div class="sr-main">
            <form id="payment-form" class="sr-payment-form">
                <div class="row">
                    @if (Model.Quantity > 0)
                    {
                        <div class="col-sm-5 padding-0">
                            <div>@Html.LabelFor(e => e.Description)</div>
                            @Html.ValueFor(e => e.Description)
                        </div>
                        <div class="col-sm-4 padding-0">
                            <div>@Html.Label(Model.QuantityDescription ?? Html.GetDisplayNameFor(ex => ex.Quantity))</div>
                            @Html.ValueFor(e => e.Quantity)
                        </div>
                        <div class="col-sm-3 padding-0">
                            <div>@Html.LabelFor(e => e.Description)</div>
                            @Html.ValueFor(e => e.Total)
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6 padding-0">
                            <div>@Html.LabelFor(e => e.Description)</div>
                            @Html.ValueFor(e => e.Description)
                        </div>
                        <div class="col-sm-6 padding-0">
                            <div>@Html.LabelFor(e => e.Amount)</div>
                            @Html.ValueFor(e => e.Amount)
                        </div>
                    }
                </div>

                <div class="row">
                    <hr />

                    <div id="payment-request-button">
                    </div>

                    <hr id="enter-payment-details-separator" style="display: none;" />

                    <p id="enter-payment-details" style="display: none;">@Dictionary.OrEnterYourCardDetails</p>

                    @Html.BootstrapEditorFor(e => e.FullName)
                    @Html.BootstrapEditorFor(e => e.EmailAddress)
                    @Html.BootstrapEditorFor(e => e.PhoneNumber)

                    <label class="margin-bottom-10">@Dictionary.CardDetails</label>
                    <div class="sr-combo-inputs-row">
                        <div class="sr-input sr-card-element" id="card-element"></div>
                    </div>
                    <div class="sr-field-error" id="card-errors" role="alert"></div>

                    <hr />
                    @Html.BootstrapActionLinkButton(Dictionary.Back, Model.BackUrlAction, Model.BackUrlController, null, "fa-chevron-left", EButtonClass.Large)
                    <button class="btn btn-info btn-lg payment-button" id="submit">
                        <div class="spinner hidden" id="spinner"></div>
                        <i class="fa fa-money-bill-alt"></i>
                        <span id="button-text">@Dictionary.PayNow</span><span id="order-amount"></span>
                    </button>

                </div>
            </form>

            <div class="row">

                <div class="sr-result hidden">
                    @Html.Success(Dictionary.PaymentCompleted + " <i class='fa fa-smile'></i>")
                </div>

                <hr />
                <div>
                    @Html.Partial("_StripeFooter")
                </div>

                <hr />
                <div class="col-sm-offset-2 col-sm-8 col-xs-12">
                    <div class="powered-by-stripe">
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script type="text/javascript">

    function initPayments() {
        Payments.init({
            paymentIntentUrl: "@Url.Action("GetPaymentIntent", "Payments")",
            successUrl: "@Model.SuccessUrl",
            failureUrl: "@Model.FailureUrl",
            processPaymentUrl: "@Url.Action("ProcessPayment", "Payments")",
            postPaymentUrl: "@Model.PostPaymentUrl",
            orderData: {
                id: @Model.Id,
                quantity: @Model.Quantity,
                amount: @Model.Amount,
                amountInCents: @Model.AmountInCents,
                description: "@Model.Description"
                }
            });
    }

    $(function() {
        initPayments();
    });

</script>