@model K9.WebApplication.Models.NineStarKiModel

<div>
    @if (Model != null && Model.IsProcessed)
    {
        @Html.Partial("ActionLinkButtons/_PredictionsWithForm")
        <span class="margin-right-2 desktop-only"></span>
        @Html.Partial("ActionLinkButtons/_BiorhythmsWithForm")
        <span class="margin-right-2 desktop-only"></span>
        @Html.Partial("ActionLinkButtons/_NumerologyWithForm")
        <span class="margin-right-2 desktop-only"></span>
    }
    else
    {
        @Html.Partial("ActionLinkButtons/_Predictions")
        <span class="desktop-only"></span>
        @Html.Partial("ActionLinkButtons/_Biorhythms")
        <span class="desktop-only"></span>
        @Html.Partial("ActionLinkButtons/_Numerology")
    }

    @Html.Partial("ActionLinkButtons/_Compatibility")

    @Html.Partial("ActionLinkButtons/_IChing")

    @Html.Partial("ActionLinkButtons/_KnowledgeBase")

    @Html.Partial("ActionLinkButtons/_BookConsultation")

    @Html.Partial("ActionLinkButtons/_TryOurGpt")
</div>