@using K9.WebApplication.Config
@using K9.WebApplication.Enums
@using K9.WebApplication.Extensions
@using K9.WebApplication.Helpers
@using K9.WebApplication.Options
@model K9.WebApplication.Models.NineStarKiModel

@{
    var adultActiveClass = Model.PersonModel.IsAdult() ? "in active" : "disabled";
    var childActiveClass = Model.PersonModel.IsAdult() ? "" : "in active";
}

<div class="GetToTheRoot-summmary container padding-0">
    <div id="personal-profile">
        <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
            @if (Model.PersonModel.IsAdult())
            {
                <li class="active">
                    <a data-toggle="tab" href="#fundamental">
                        @Model.MainEnergy.AdultEnergyLabel
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/fundamental-nature.png');"></div>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#character">
                        @Model.CharacterEnergy.CharacteEnergyLabel
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/emotional-energy.png');"></div>
                    </a>
                </li>
            }
            else
            {
                <li class="active">
                    <a data-toggle="tab" href="#character">
                        @Model.CharacterEnergy.CharacteEnergyLabel
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/emotional-energy.png');"></div>
                    </a>
                </li>
            }

            <li>
                <a data-toggle="tab" href="#surface">
                    @Dictionary.ExternalPersona
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/mirror-energy.png');"></div>
                </a>
            </li>

            @if (Model.PersonModel.IsSixteenOrOver())
            {
                <li>
                    <a data-toggle="tab" href="#sexuality">
                        @Dictionary.SexualityLabel
                        <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/sexuality.png');"></div>
                    </a>
                </li>
            }
            <li>
                <a data-toggle="tab" href="#health">
                    @Dictionary.Health
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/health.png');"></div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#career">
                    @Dictionary.Career
                    <div class="img-rounded image-pill" style="background-image: url('@DefaultValuesConfiguration.Instance.BaseImagesPath/ui/career.png');"></div>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="fundamental" class="tab-pane fade @adultActiveClass">
                @Html.Panel(Dictionary.MainEnergyLabel, $"{Dictionary.MainEnergyDescription} {Html.Partial("_ClickOnATabBelow").ToString()}")

                <br />
                @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfile))
                {
                    @Html.Partial("_ProfileMainEnergyDetails", Model)
                }
                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="character" class="tab-pane fade @childActiveClass">
                @Html.Panel(Dictionary.CharacterEnergyLabel, $"{Dictionary.CharacterEnergyDescription} {Html.Partial("_ClickOnATabBelow").ToString()}")

                <br />
                @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfile))
                {
                    @Html.Partial("_ProfileEmotionalEnergyDetails", Model)
                }

                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="surface" class="tab-pane fade">
                @Html.Panel(Dictionary.SurfaceEnergyLabel, Dictionary.SurfaceEnergyDescription)

                <br />
                @using (Html.PayWall(ESection.Profile, Model, () => Model?.IsMyProfile))
                {
                    @Html.Partial("_ProfileMirrorEnergyDetails", Model)
                }
                @Html.Partial("_ButtonsFooter")
            </div>

            @if (Model.PersonModel.IsSixteenOrOver())
            {
                <div id="sexuality" class="tab-pane fade">
                    @Html.Panel(Dictionary.SexualityTitle, Dictionary.sexuality_description)

                    @using (Html.PayWall(ESection.Profile, Model))
                    {
                        @Html.Partial("_ProfileSexuality", Model)
                    }
                    @Html.Partial("_ButtonsFooter")
                </div>
            }

            <div id="health" class="tab-pane fade">
                @using (Html.PayWall(ESection.Profile, Model))
                {
                    @Html.Partial("_ProfileHealth", Model)
                }

                <hr />
                @Html.Partial("_ButtonsFooter")
            </div>

            <div id="career" class="tab-pane fade">
                @using (Html.PayWall(ESection.Profile, Model))
                {
                    @Html.Partial("_ProfileCareer", Model)
                }
                @Html.Partial("_ButtonsFooter")
            </div>
        </div>
    </div>
</div>

<script language="javascript">

    function scrollProfile(tab) {
        setTimeout(function () {
            $.fn.scrollToTopOf(tab, -230);
        }, 200);
    }

    $(function () {
        $("#fundamental-energy").click(function () {
            $("a[href='#fundamental']").tab("show");
            scrollProfile("#fundamental");
        });

        $("#character-energy").click(function () {
            $("a[href='#character']").tab("show");
            scrollProfile("#character");
        });

        $("#surface-energy").click(function () {
            $("a[href='#surface']").tab("show");
            scrollProfile("#surface");
        });
    });

</script>