@using K9.WebApplication.Config
@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model K9.WebApplication.Models.NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        <div>
            <ul class="nav nav-pills nav-justified image-pill" data-autoscroll="true">
                <li class="active">
                    <a data-toggle="tab" href="#e-details">
                        @Model.CharacterEnergy.DescriptiveTitle
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/GetToTheRoot/energies/{Model.CharacterEnergy.EnergyLowerCase}.png")');"></div>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#e-element">
                        @Model.CharacterEnergy.ElementTitle
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/GetToTheRoot/elements/{Model.CharacterEnergy.ElementName.ToLower()}.png")');"></div>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#e-modality">
                        @Model.CharacterEnergy.ModalityTitle
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/GetToTheRoot/modalities/{Model.CharacterEnergy.ModalityName.ToLower()}.png")');"></div>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#e-trigram">
                        @Dictionary.Trigram
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/GetToTheRoot/trigrams/trigram-{Model.CharacterEnergy.EnergyLowerCase}-square.png")');"></div>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#e-yinyang">
                        @Model.CharacterEnergy.YinYangName
                        <div class="img-rounded image-pill" style="background-image: url('@($"{DefaultValuesConfiguration.Instance.BaseImagesPath}/GetToTheRoot/yinyang/{Model.CharacterEnergy.YinYangName.ToLower()}.png")');"></div>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="e-details" class="tab-pane fade in active">
                    @Html.Panel(Model.CharacterEnergy.EnergyTitle, $"{Model.CharacterEnergy.EnergyDescription}{Model.CharacterEnergy.ChildDescription}", "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                </div>
                <div id="e-element" class="tab-pane fade">
                    @Html.Panel(Model.CharacterEnergy.ElementTitle, Model.CharacterEnergy.ElementDescription, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                </div>
                <div id="e-modality" class="tab-pane fade">
                    @Html.Panel(Model.CharacterEnergy.ModalityTitle, Model.CharacterEnergy.ModalityDescription, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                </div>
                <div id="e-trigram" class="tab-pane fade">
                    @Html.Panel(Model.CharacterEnergy.TrigramTitle, Model.MainEnergy.TrigramDescription, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                </div>
                <div id="e-yinyang" class="tab-pane fade">
                    @Html.Panel(Dictionary.YinAndYang, Dictionary.yinyang, "", "", EPanelImageSize.Default, EPanelImageLayout.Contain)
                </div>
            </div>
        </div>
    </div>
}