@using K9.WebApplication.Config
@model K9.WebApplication.Models.NineStarKiEnergy
 
<div class="GetToTheRoot-summary-container">
    <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Energy</h3>
    <p>@Model.EnergyName</p>
    <img loading="lazy" title="@Model.EnergyName" alt="@Dictionary.GetToTheRootKiAstrologyFreeCalculator @Model.EnergyName" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/GetToTheRoot/energies/@(Model.Energy.ToString().ToLower()).png"/>
</div>