@using K9.WebApplication.Config
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiEnergy

<a target="_blank" href="@Url.ActionWithBookmark("Index", "KnowledgeBase", Model.ModalityName.ToLower())">
    <div class="GetToTheRoot-summary-container">
        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.ModalityLabel</h3>
        <p>@Model.ModalityName</p>
        <img loading="lazy" title="@Model.ModalityName @Dictionary.ModalityLabel" alt="@Dictionary.GetToTheRootKiAstrologyFreeCalculator @Model.ModalityName @Dictionary.ModalityLabel" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/GetToTheRoot/modalities/@(Model.ModalityName).png" />
    </div>
</a>