@using K9.WebApplication.Config
@model K9.WebApplication.Models.NineStarKiEnergy

<a href="#@Model.TrigramUIName" class="collapsible-panel-anchor" data-panel-id="@Model.TrigramUIName">
    <div class="GetToTheRoot-summary-container">
        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Trigram</h3>
        <p>@Model.Trigram</p>
        <img loading="lazy" title="@Model.Trigram Trigram" alt="@Dictionary.GetToTheRootKiAstrologyFreeCalculator @Model.Trigram Trigram" class="auto-size center-block" src="@DefaultValuesConfiguration.Instance.BaseImagesPath/GetToTheRoot/trigrams/trigram-@(Model.EnergyLowerCase)-square.png" />
    </div>
</a>
