@using K9.Base.WebApplication.Helpers
@using K9.SharedLibrary.Helpers
@using K9.WebApplication.ViewModels
@model EmailTemplate

@Html.Partial("_DynamicFields", new EmailTemplateDynamicFieldsViewModel())

<hr />

@Html.BootstrapEditorFor(model => model.PromotionId)

<div class="row">
    <div class="col-sm-6">
        @Html.LabelFor(model => model.Promotion.SubscriptionTypeName)
        <input class="  form-control" culture-info="" id="SubscriptionTypeName" type="text" value="" disabled>
    </div>
    <div class="col-sm-6">
        @Html.LabelFor(model => model.Promotion.FullPrice)
        <input class="  form-control" culture-info="" id="FullPrice" type="text" value="" disabled>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        @Html.LabelFor(model => model.Promotion.DiscountPercent)
        <input class="  form-control" culture-info="" id="DiscountPercent" type="text" value="" disabled>
    </div>
    <div class="col-sm-6">
        @Html.LabelFor(model => model.Promotion.SpecialPrice)
        <input class="  form-control" culture-info="" id="SpecialPrice" type="text" value="" disabled>
    </div>
</div>

<hr />

@Html.BootstrapEditorFor(model => model.Name)
@Html.BootstrapEditorFor(model => model.Subject)
@Html.BootstrapEditorFor(model => model.HtmlBody)

<script>

    $(function() {
        $("#PromotionId").change(function() {
            let url = "@Url.Action("Get", "Promotions")";
            let id = $(this).val();

            ajaxcontroller().send(url,
            {
                id
            }, "POST").
            done(
                function(result) {
                    if (result.data.success) {
                        var promotion = result.data.promotion;
                        
                        $("#SubscriptionTypeName").val(promotion.SubscriptionTypeName);
                        $("#DiscountPercent").val(promotion.DiscountPercent + "%");
                        $("#FullPrice").val(promotion.FormattedFullPrice);
                        $("#SpecialPrice").val(promotion.FormattedSpecialPrice);
                    } else {
                        that.changeLoadingState(false);
                        alert(result.errorMessage || errorMessage);
                    }
                });
        });
    });

</script>