@using K9.WebApplication.Models
@model K9.WebApplication.Models.MembershipModel
@{
    ViewBag.Title = ViewBag.Title ?? Dictionary.MembershipLabel;
    ViewBag.SubTitle = Dictionary.YourSelectedSubscription;
    Layout = "../Shared/_LayoutFormSmall.cshtml";
}

@using (Html.BeginForm("Purchase", "Membership", FormMethod.Post))
{
    using (Html.BeginBootstrapForm())
    {
        <h4 class="margin-bottom-30"><strong>@Dictionary.SelectedPurchaseText:</strong></h4>

        @Html.Partial("_MembershipOption")

        @Html.Hidden(nameof(UserMembership.MembershipOptionId), Model.MembershipOption.Id)
        @Html.Hidden("promoCode", Model.Promotion?.Code)
        
        <hr />
        if (Model.Promotion == null)
        {
            @Html.BootstrapActionLinkButton(Dictionary.Back, "Index", "Membership", null, "fa-chevron-left", EButtonClass.Large)
        }
        <span class="margin-right-2 desktop-only"></span>
        @Html.BootstrapButton(K9.Base.Globalisation.Dictionary.Next, EButtonType.Submit, "fa-chevron-right", EButtonClass.IconRight, EButtonClass.Large)
    }
}