@model K9.WebApplication.Models.NineStarKiModel

@using (Html.BeginForm("CalculateNineStarKi", "NineStarKi"))
{
    using (Html.BeginBootstrapForm())
    {
        @Html.BootstrapEditorFor(model => model.PersonModel.Name)
        @Html.BootstrapEditorFor(model => model.PersonModel.DateOfBirth)
        <div data-toggle="tooltip" data-placement="top" title="@Dictionary.GenderSelectionTooltip">
            @Html.BootstrapEditorFor(model => model.PersonModel.Gender)
        </div>

        <hr />
        @Html.BootstrapButton(Dictionary.Calculate, EButtonType.Submit, "", EButtonClass.Large)
    }
}