@using K9.SharedLibrary.Helpers
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.CompatibilityModel

@if (Model != null && Model.IsProcessed)
{
    using (Html.BeginBootstrapForm())
    {
        <h4 class="margin-top-0 margin-bottom-10">@Dictionary.CompatibilityDetails</h4>
        <div class="ninestar-summmary container padding-0 margin-top-15 margin-bottom-0">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a data-toggle="tab" href="#overall">@Dictionary.OverallCompatibility</a></li>
                <li><a data-toggle="tab" href="#fundamental">@Dictionary.InDepthAnalysis</a></li>
                @if (!Model.IsHideSexualChemistry)
                {
                    <li><a data-toggle="tab" href="#sexuality">@Dictionary.SexualChemistryDetails</a></li>
                }
            </ul>

            <div class="tab-content">
                <div id="overall" class="tab-pane fade in active">
                    @Html.Panel(Dictionary.FundamentalElements, Html.Partial("_CompatibilityFundamentalElements").ToString())
                    @Html.Panel(Dictionary.CharacterElements, Html.Partial("_CompatibilityCharacterElements").ToString())
                    @Html.Panel(Dictionary.AllElementsBreakdown, Html.Partial("_CompatibilityElementsBreakdown").ToString())
                    @Html.Panel(Dictionary.YinAndYang, TemplateProcessor.PopulateTemplate(Html.Partial("_CompatibilityYinYang").ToString(), new
                    {
                        SameTransformationLink = Url.ActionWithBookmark("About", "Home", "same-transformation"),
                        SupportiveTransformationLink = Url.ActionWithBookmark("About", "Home", "supportive-transformation"),
                        ChallengingTransformationLink = Url.ActionWithBookmark("About", "Home", "challenging-transformation")
                    }))
                </div>

                <div id="fundamental" class="tab-pane fade">
                    @Html.Panel(Dictionary.FundamentalEnergiesCompatibility, Model.FundamentalEnergiesCompatibility)
                    @Html.Panel(Dictionary.CharacterEnergiesCompatibility, Dictionary.ComingSoon)
                </div>

                @if (!Model.IsHideSexualChemistry)
                {
                    <div id="sexuality" class="tab-pane fade">
                        @Html.Panel(Dictionary.SexualChemistryDetails, Model.SexualChemistryDetails)
                    </div>
                }
            </div>
        </div>
    }
}