@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

<ul class="nav nav-pills nav-justified">
    <li class="active"><a data-toggle="tab" href="#yearly">@Dictionary.YearlyCycle</a></li>
    <li><a data-toggle="tab" href="#monthly">@Dictionary.MonthlyCycle</a></li>
    <li><a data-toggle="tab" href="#yearly-planner">@Dictionary.YearlyPlanner</a></li>
    <li><a data-toggle="tab" href="#monthly-planner">@Dictionary.MonthlyPlanner</a></li>
</ul>

<div class="tab-content">
    <div id="yearly" class="tab-pane fade in active">
        @Html.CollapsiblePanel(Dictionary.AboutYearlyCycles, Dictionary.year_description)

        @Html.Partial("_Cycle", Model.YearlyCycleEnergy)
    </div>

    <div id="monthly" class="tab-pane fade">
        @Html.CollapsiblePanel(Dictionary.AboutMonthlyCycles, Dictionary.month_description)

        @Html.Partial("_Cycle", Model.MonthlyCycleEnergy)
    </div>

    <div id="yearly-planner" class="tab-pane fade">
        @Html.Hidden("YearScrollStatus", false)
        @Html.Partial("_YearlyPlanner")
    </div>

    <div id="monthly-planner" class="tab-pane fade">
        @Html.Hidden("MonthScrollStatus", false)
        @Html.Partial("_MonthlyPlanner")
    </div>
</div>
