@using K9.SharedLibrary.Extensions
@model K9.WebApplication.Models.NineStarKiModel

<div class="container main-content clear-both monthly-planner-container margin-top-5">
    @foreach (var cycle in Model.GetMonthlyPlanner())
    {
        var year = cycle.Item1;
        var month = cycle.Item2;
        var monthName = cycle.Item3;
        var energy = cycle.Item4;
        var activeClass = year == DateTime.Today.Year && month == DateTime.Today.Month ? "active current-month" : string.Empty;

        <a target="_blank" href="@Url.ActionWithBookmark("Index", "Predictions", $"{energy.EnergyName.ToLower()}-month")">
            <div class="row @activeClass">
                <div class="col-xs-1">
                    @Html.Partial("_Year", year.ToString())
                </div>
                <div class="col-xs-1">
                    @Html.Partial("_Month", monthName)
                </div>
                <div class="col-sm-2 col-xs-3">
                    <div class="ninestar-summary-container margin-left-10-xs">
                        <img title="@energy.EnergyName" alt="@energy.EnergyName" class="auto-size center-block" src="~/Images/ninestar/energies/@(energy.Energy.ToString().ToLower()).png" />
                    </div>
                </div>
                <div class="col-xs-2 hidden-xs">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Energy</h3>
                        <p>@energy.EnergyName</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Season</h3>
                        <p>@energy.SeasonDescription</p>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ninestar-summary-container">
                        <h3 class="margin-bottom-0 padding-bottom-0">@K9.Base.Globalisation.Dictionary.DescriptionLabel</h3>
                        <p>
                            @energy.CycleDescriptiveName
                        </p>
                    </div>
                </div>
            </div>
        </a>
    }
</div>