@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

<div class="row">
    <div class="text-center">
        @Html.Partial("_SelectedDateAndPeriodTitle")

        <h5>@Dictionary.ClickOnTheNumbersBelowForMoreDetails</h5>
    </div>
    <div class="col-sm-4 col-sm-offset-2 margin-bottom-15">
        @if (!Model.IsCompatibility && Model.ReadingType == EReadingType.Complete)
        {
            <a href="#" id="current-yearly-cycle">
                @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
            </a>
        }
        else
        {
            @Html.Partial("_CycleTitle", Model.YearlyCycleEnergy)
        }
    </div>
    <div class="col-md-4 col-sm-4 margin-bottom-15">
        @if (!Model.IsCompatibility && Model.ReadingType == EReadingType.Complete)
        {
            <a href="#" id="current-monthly-cycle">
                @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
            </a>
        }
        else
        {
            @Html.Partial("_CycleTitle", Model.MonthlyCycleEnergy)
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-top-0 margin-bottom-0 padding-left-0 padding-right-0">
        <article>
            @Html.CollapsiblePanel(Dictionary.AboutYearlyAndMonthlyCycles, Dictionary.cycles_description)
        </article>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-top-20 margin-bottom-0 padding-left-0 padding-right-0">
        @Html.BootstrapActionLinkButton(Dictionary.FindOutHowCompatibleYouAre, "Compatibility", "NineStarKi", null, "fa fa-yin-yang", EButtonClass.Large)

        @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, "fa-graduation-cap", EButtonClass.Info, EButtonClass.Large)

        @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
    </div>
</div>