@using K9.WebApplication.Helpers
@using K9.WebApplication.Models
@using K9.WebApplication.Options
@model NineStarKiModel

@if (Model != null)
{
    <div class="container main-content clear-both">
        <article>
            <div>
                @Html.CollapsiblePanel(Model.MainEnergy.EnergyTitle, Model.MainEnergy.EnergyDescription, true, "", "", $"Images/ninestar/energies/{Model.MainEnergy.Energy}.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

                @Html.CollapsiblePanel(Model.OverviewLabel, Model.Overview, true)

                @Html.CollapsiblePanel(Model.MainEnergy.ElementTitle, Model.MainEnergy.ElementDescription, false, "", "", $"Images/ninestar/elements/{Model.MainEnergy.ElementName}.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

                @Html.CollapsiblePanel(Model.MainEnergy.ModalityTitle, Model.MainEnergy.ModalityDescription, false, "", "", $"Images/ninestar/modalities/{Model.MainEnergy.ModalityName}.png", EPanelImageSize.Default, EPanelImageLayout.Contain)

                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.Health, Model.MainEnergy.EnergyNameAndNumber), Model.Health)

                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.Occupations, Model.MainEnergy.EnergyNameAndNumber), Model.Occupations)

                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.PersonalDevelopemnt, Model.MainEnergy.EnergyNameAndNumber), Model.PersonalDevelopemnt)

                @Html.CollapsiblePanel(Html.GetEnergySpecificDisplayNameFor(m => Model.MainEnergy.Trigram, Model.MainEnergy.EnergyNameAndNumber), Model.MainEnergy.TrigramDescription, false, "", Model.MainEnergy.TrigramUIName, $"Images/ninestar/trigrams/trigram-{Model.MainEnergy.Energy}-square.png", EPanelImageSize.Default, EPanelImageLayout.Contain)
            </div>
            <div>
                <br />

                @Html.BootstrapActionLinkButton(Dictionary.FindOutHowCompatibleYouAre, "Compatibility", "NineStarKi", null, "fa fa-yin-yang", EButtonClass.Large)

                @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, "fa-graduation-cap", EButtonClass.Info, EButtonClass.Large)

                @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
            </div>
        </article>
    </div>
}