@model K9.WebApplication.Models.NineStarKiEnergy

<div class="container main-content clear-both ninestar-header-container margin-top-5">
    <div class="row">
        <div class="col-md-2 col-md-offset-1 col-sm-4 col-xs-6">
            @Html.Partial("_Energy")
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            @Html.Partial("_YinYang")
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
            @Html.Partial("_Element")
        </div>
        <div class="col-md-2 col-sm-4 col-sm-offset-2 col-md-offset-0 col-xs-6">
            @Html.Partial("_Modality")
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 col-sm-offset-0 col-xs-offset-3">
            @Html.Partial("_Trigram")
        </div>
    </div>
</div>