@using K9.WebApplication.Enums
@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    var adultActiveClass = Model.PersonModel.IsAdult() ? "in active" : "disabled";
    var childActiveClass = Model.PersonModel.IsAdult() ? "" : "in active";
}

<div class="margin-top-20">
</div>

@using (Html.BeginBootstrapForm())
{
    <article>
        <div class="ninestar-summmary container padding-0 margin-top-15">
            <ul class="nav nav-pills nav-justified image-pill">
                <li class="active">
                    <a data-toggle="tab" href="#personal-profile">
                        @Dictionary.PersonalChart
                        <div class="img-rounded" style="background-image: url('Images/ninestar/yinyang/yang.png');"></div>
                    </a>
                </li>
                @if (Model.PersonModel.IsSixteenOrOver())
                {
                    <li>
                        <a data-toggle="tab" href="#sexuality">
                            @Dictionary.SexualityLabel
                            <div class="img-rounded image-pill" style="background-image: url('Images/ui/sexuality.png');"></div>
                        </a>
                    </li>
                }
                <li>
                    <a data-toggle="tab" href="#predictions">
                        @Dictionary.CyclesSubTitle
                        <div class="img-rounded" style="background-image: url('Images/ui/predictions.png');"></div>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="personal-profile" class="tab-pane fade in active">
                    <ul class="nav nav-pills nav-justified margin-top-20">
                        @if (Model.PersonModel.IsAdult())
                        {
                            <li class="active"><a data-toggle="tab" href="#fundamental">@Model.MainEnergy.AdultEnergyLabel</a></li>
                            <li><a data-toggle="tab" href="#character">@Model.CharacterEnergy.CharacteEnergyLabel</a></li>
                        }
                        else
                        {
                            <li class="active"><a data-toggle="tab" href="#character">@Model.CharacterEnergy.CharacteEnergyLabel</a></li>
                        }

                        <li><a data-toggle="tab" href="#surface">@Dictionary.ExternalPersona</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="fundamental" class="tab-pane fade @adultActiveClass">
                            @Html.CollapsiblePanel(K9.Base.Globalisation.Dictionary.DescriptionLabel, Dictionary.MainEnergyDescription, true)

                            @Html.Partial("_ProfileHeader", Model.MainEnergy)

                            @Html.Partial("_ProfileMainEnergyDetails", Model)
                        </div>

                        <div id="character" class="tab-pane fade @childActiveClass">
                            @Html.CollapsiblePanel(K9.Base.Globalisation.Dictionary.DescriptionLabel, Dictionary.CharacterEnergyDescription, true)

                            @Html.Partial("_ProfileHeader", Model.CharacterEnergy)

                            @using (Html.PaidContent(Model, () => Model.ReadingType == EReadingType.Complete))
                            {
                                @Html.Partial("_ProfileBody", Model.CharacterEnergy)
                            }
                            
                            <br />

                            @Html.BootstrapActionLinkButton(Dictionary.FindOutHowCompatibleYouAre, "Compatibility", "NineStarKi", null, "fa fa-yin-yang", EButtonClass.Large)

                            @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, "fa-graduation-cap", EButtonClass.Info, EButtonClass.Large)

                            @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
                        </div>

                        <div id="surface" class="tab-pane fade">
                            @Html.CollapsiblePanel(K9.Base.Globalisation.Dictionary.DescriptionLabel, Dictionary.SurfaceEnergyDescription, true)

                            @Html.Partial("_ProfileHeader", Model.SurfaceEnergy)

                            @using (Html.PaidContent(Model, () => Model.ReadingType == EReadingType.Complete))
                            {
                                @Html.Partial("_ProfileBody", Model.SurfaceEnergy)
                            }

                            <br />

                            @Html.BootstrapActionLinkButton(Dictionary.FindOutHowCompatibleYouAre, "Compatibility", "NineStarKi", null, "fa fa-yin-yang", EButtonClass.Large)

                            @Html.BootstrapActionLinkButton(Dictionary.LearnMoreAboutNineStarKi, "About", "Home", null, "fa-graduation-cap", EButtonClass.Info, EButtonClass.Large)

                            @Html.BootstrapActionLinkButton(Dictionary.BookAConsultation, "BookConsultationStart", "Consultation", null, "fa-phone-alt", EButtonClass.Success, EButtonClass.Large)
                        </div>
                    </div>
                </div>

                @if (Model.PersonModel.IsSixteenOrOver())
                {
                    <div id="sexuality" class="tab-pane fade">
                        @Html.CollapsiblePanel(K9.Base.Globalisation.Dictionary.DescriptionLabel, Dictionary.sexuality_description, true)

                        @using (Html.PaidContent(Model, () => Model.ReadingType == EReadingType.Complete))
                        {
                            @Html.Partial("_ProfileSexuality", Model)
                        }
                    </div>
                }

                    <div id="predictions" class="tab-pane fade margin-top-20">
                        @Html.CollapsiblePanel(K9.Base.Globalisation.Dictionary.DescriptionLabel, Dictionary.cycles_description, true)

                        @using (Html.PaidContent(Model, () => Model.ReadingType == EReadingType.Complete))
                        {
                            @Html.Partial("_Cycles")
                        }
                    </div>

            </div>
        </div>
    </article>
}

<script language="javascript">

    function scrollProfile(tab) {
        setTimeout(function () {
            $.fn.scrollToTopOf(tab, -230);
        }, 200);
    }

    $(function () {
        $("#fundamental-energy").click(function () {
            scrollProfile("#fundamental");

            $(".nav-pills a[href='#personal-profile']").tab("show");
            $(".nav-pills a[href='#fundamental']").tab("show");
        });

        $("#character-energy").click(function () {
            scrollProfile("#character");

            $(".nav-pills a[href='#personal-profile']").tab("show");
            $(".nav-pills a[href='#character']").tab("show");
        });

        $("#surface-energy").click(function () {
            scrollProfile("#surface");

            $(".nav-pills a[href='#personal-profile']").tab("show");
            $(".nav-pills a[href='#surface']").tab("show");
        });
    });

</script>