@model K9.WebApplication.Models.NineStarKiEnergy

<a href="#@Model.TrigramUIName" class="collapsible-panel-anchor" data-panel-id="@Model.TrigramUIName">
    <div class="ninestar-summary-container">
        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.Trigram</h3>
        <p>@Model.Trigram</p>
        <img title="@Model.Trigram Trigram" alt="@Model.Trigram Trigram" class="auto-size center-block" src="~/Images/ninestar/trigrams/trigram-@(Model.Energy)-square.png" />
    </div>
</a>
