@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiEnergy

<a target="_blank" href="@Url.ActionWithBookmark("About", "Home", "yinyang")">
    <div class="ninestar-summary-container">
        <h3 class="margin-bottom-0 padding-bottom-0">@Dictionary.YinYangLabel</h3>
        <p>@Model.YinYang</p>

        <img title="@Model.YinYang" alt="@Model.YinYang" class="auto-size center-block" src="~/Images/ninestar/yinyang/@(Model.YinYang).png" />
    </div>
</a>