@using K9.WebApplication.Helpers
@model K9.WebApplication.Models.NineStarKiModel

@{
    ViewBag.Title = Dictionary.NineStarKiCalculatorTitle;
    ViewBag.SubTitle = Dictionary.PersonalProfileCalculator;
    ViewBag.Keywords = Dictionary.NineStarKiCalculatorKeywords;
    ViewBag.MetaDescription = Dictionary.NineStarKiCalculatorMetaDescription;

    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content margin-bottom-0">
    <div class="col-md-3 col-sm-3 padding-0">
        @Html.Partial("_Calculator")
    </div>
    <div class="col-md-9 col-sm-9 padding-left-20-desktop padding-right-0 mobile panel-margin-top-20">
        @if (Model != null && Model.IsProcessed)
        {
            @Html.Partial("_ProfileSummary", Model)
        }
        else
        {
            <article>
                <div class="margin-bottom-20">
                    @Html.Panel("9 Star Ki Personal Chart", Dictionary.personal_chart, "chart")
                </div>
            </article>
        }
    </div>
</div>

<div class="container main-content margin-bottom-0 margin-top-20">
    <div class="col-md-12 col-sm-12 padding-0">
        @if (Model != null && Model.IsProcessed)
        {
            @Html.Partial("_ProfileCyclesSummary", Model)
        }
    </div>
</div>

@if (Model != null && Model.IsProcessed)
{
    @Html.Partial("_ProfilePills", Model)
}

@Html.Partial("_CyclesJs")