@model K9.WebApplication.Models.NineStarKiModel

@{
    ViewBag.Title = Dictionary.MyPersonalProfile;
    ViewBag.SubTitle = Dictionary.MyPersonalProfile;

    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content margin-bottom-0">
    <div class="col-sm-12 padding-left-0 padding-right-0">
        @if (Model != null && Model.IsProcessed)
        {
            @Html.Partial("_ProfileSummary", Model)
        }
    </div>
</div>

<div class="container main-content margin-bottom-0 margin-top-20">
    <div class="col-md-12 col-sm-12 padding-0">
        @if (Model != null && Model.IsProcessed)
        {
            @Html.Partial("_ProfileCyclesSummary", Model)
        }
    </div>
</div>

@if (Model != null && Model.IsProcessed)
{
    @Html.Partial("_ProfilePills", Model)
}

@Html.Partial("_CyclesJs")