@using K9.Base.WebApplication.Extensions
@using K9.Base.WebApplication.Helpers
@using K9.WebApplication.Helpers
@model List<UserMembership>

<div class="row table-row">
    <div class="col-xs-2">
        <strong>@Html.LabelFor(e => Model[0].User.FullName)</strong>
    </div>
    <div class="col-xs-2">
        <strong>@Html.LabelFor(e => Model[0].User.EmailAddress)</strong>
    </div>
    <div class="col-xs-2">
        <strong>@Html.LabelFor(e => Model[0].User.PhoneNumber)</strong>
    </div>
    <div class="col-xs-2">
        <strong>@Html.Label(K9.Globalisation.Dictionary.Period)</strong>
    </div>
    <div class="col-xs-2">
        <strong>@Html.LabelFor(e => Model[0].IsActive)</strong>
    </div>
    <div class="col-xs-2">
    </div>
</div>

@foreach (var item in Model)
{
    <div class="row table-row data-row">
        <div class="col-xs-2">
            @Html.ValueFor(e => item.User.FullName)
        </div>
        <div class="col-xs-2">
            @Html.ValueFor(e => item.User.EmailAddress)
        </div>
        <div class="col-xs-2">
            @Html.ValueFor(e => item.User.PhoneNumber)
        </div>
        <div class="col-xs-2">
            @Html.ValueFor(e => item.StartsOn) - @Html.DisplayFor(e => item.EndsOn)
        </div>
        <div class="col-xs-2">
            @item.IsActive.ToYesNo()
        </div>
        <div class="col-xs-2">
            @Html.Partial("_TableButtons", item)
        </div>
    </div>
}